nav a{
    text-decoration: none;
}
header{
    background-color: bisque;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 30px;
    padding-top: 10px;
}
#imagecontainer
{
    border: 4px solid black;
    display:flex;
    justify-content: center;
    align-items:center;
}
*{
    padding: 0;
    margin: 0;
}
#boxcontainer{
    border: 4px solid black;
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 400px;
}
#box2{
    flex-grow: 1;
    flex-shrink: 1;
}
.box{
    height: 75px;
    width: 75px;
    border: 4px solid red;
}
#media_box{
    height: 50px;
    width: 50px;
    border:2px solid black;
    background-color: aquamarine;
}
@media screen and(min-width:400px)
{
    #media_box{
        background-color: blue;
    }
}
@media screen and(min-width:300px) and (max_width:400px)
{
    #media_box{
        background-color:red;
    }
}