body {
    background-color: #f3f3f3;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 5px;
    font-family: 'Arial', sans-serif;
    
}
.debit {
    position: absolute;
    right: 30px;
    top: 100px;
    font-size: 0.9rem;
}
.sig{
    width: 40px;
    height: 40px;
    top: 15px;
    position: absolute;
    right: 20px;
    background-color: transparent; 
    opacity: 0.3; 
}
.logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
.logo .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.mastercard-text {
    font-size: 0.65rem;
    margin-left: 5px;
    font-weight: bold;
}
.red {
    background-color: red;
    z-index: 2;
}

.yellow {
    background-color: orange;
    margin-left: -10px;
    z-index: 1;
}
.img{
    width: 40px;
    height:40px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-top:50px;
}
.world{
    position: absolute;
    padding-bottom: 50px;
    font-size: 1.1rem;
    top: 25px;
    font-style: italic;
    font-weight: bold;
}
.card{
    position: relative;
    left: 40%;
    border-radius: 16px;
    width: 350px;
    height: 210px;
    color: white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    background: linear-gradient(135deg, #1f2a3b, #2b3b50);
}
.card::before{
      content: '';
      position: absolute;
      width: 500px;
      height: 500px;
      border: 2px solid rgba(255, 255, 255, 0.15);
      border-radius: 50%;
      top: -350px;
      left: 150px;
}
